# This file is automatically managed by enkore
# DO NOT ADD ENTRIES HERE, THEY WILL BE REMOVED
/src/types/x509Extensions.mts
/src/types/x509ExtensionNames.mts
/src/getx509ExtensionNames.mts
/src/_generatex509ExtensionSection.mts
